---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-social-network-analysis/resources/yPcBs) course resource._

---

# Assignment 4

In [6]:
import networkx as nx
import pandas as pd
import numpy as np
import pickle
from matplotlib import pyplot as plt

---

## Part 1 - Random Graph Identification

For the first part of this assignment you will analyze randomly generated graphs and determine which algorithm created them.

In [7]:
P1_Graphs = pickle.load(open('A4_graphs','rb'))
P1_Graphs

[<networkx.classes.graph.Graph at 0x7ff6f52194e0>,
 <networkx.classes.graph.Graph at 0x7ff6f52279b0>,
 <networkx.classes.graph.Graph at 0x7ff6f52279e8>,
 <networkx.classes.graph.Graph at 0x7ff6f5227a20>,
 <networkx.classes.graph.Graph at 0x7ff6f5227a90>]

<br>
`P1_Graphs` is a list containing 5 networkx graphs. Each of these graphs were generated by one of three possible algorithms:
* Preferential Attachment (`'PA'`)
* Small World with low probability of rewiring (`'SW_L'`)
* Small World with high probability of rewiring (`'SW_H'`)

Anaylze each of the 5 graphs and determine which of the three algorithms generated the graph.

*The `graph_identification` function should return a list of length 5 where each element in the list is either `'PA'`, `'SW_L'`, or `'SW_H'`.*

In [9]:
# # G = nx.barabasi_albert_graph(1000000,1)
# for j in range(5):
#     degrees = P1_Graphs[j].degree()
#     degree_values = sorted(set(degrees.values()))
#     histogram = [list(degrees.values()).count(i)/float(nx.number_of_nodes(P1_Graphs[j])) for i in degree_values]
#     plt.plot(degree_values,histogram, 'o')
#     plt.xlabel('Degree')
#     plt.ylabel('Fraction of Nodes')
#     plt.xscale('log')
#     plt.yscale('log')
#     plt.show()

In [10]:
Q1_ans = ['PA', 'SW_L', 'SW_L', 'PA', 'SW_H']

In [11]:
def graph_identification():
    
    # Your Code Here
    
    return Q1_ans# Your Answer Here

---

## Part 2 - Company Emails

For the second part of this assignment you will be workking with a company's email network where each node corresponds to a person at the company, and each edge indicates that at least one email has been sent between two people.

The network also contains the node attributes `Department` and `ManagementSalary`.

`Department` indicates the department in the company which the person belongs to, and `ManagementSalary` indicates whether that person is receiving a management position salary.

In [13]:
G = nx.read_gpickle('email_prediction.txt')

# print(nx.info(G))
G

### Part 2A - Salary Prediction

Using network `G`, identify the people in the network with missing values for the node attribute `ManagementSalary` and predict whether or not these individuals are receiving a management position salary.

To accomplish this, you will need to create a matrix of node features using networkx, train a sklearn classifier on nodes that have `ManagementSalary` data, and predict a probability of the node receiving a management salary for nodes where `ManagementSalary` is missing.



Your predictions will need to be given as the probability that the corresponding employee is receiving a management position salary.

The evaluation metric for this assignment is the Area Under the ROC Curve (AUC).

Your grade will be based on the AUC score computed for your classifier. A model which with an AUC of 0.88 or higher will receive full points, and with an AUC of 0.82 or higher will pass (get 80% of the full points).

Using your trained classifier, return a series of length 252 with the data being the probability of receiving management salary, and the index being the node id.

    Example:
    
        1       1.0
        2       0.0
        5       0.8
        8       1.0
            ...
        996     0.7
        1000    0.5
        1001    0.0
        Length: 252, dtype: float64

In [46]:
nodes_df = pd.DataFrame(G.nodes())
nodes_df.columns = ['nodes']
# Q4_df.columns = ['staff3','staff2','weight']

# degree = pd.DataFrame(G.degree())
# G.degree()
# test = G.degree()
degree_df = pd.DataFrame.from_dict(G.degree(),orient='index')
# degree_df.head()
# type(test)
degree_df.columns = ['degree']


degCent = nx.degree_centrality(G)
# degree_centrality = degCent[100]
degCent_df = pd.DataFrame.from_dict(degCent,orient='index')
degCent_df.columns = ['degCent']


closeCent = nx.closeness_centrality(G, normalized = False)
# closeness_centrality = closeCent[100]
closeCent_df = pd.DataFrame.from_dict(closeCent,orient='index')
closeCent_df.columns = ['closeCent']


btwnCent = nx.betweenness_centrality(G,normalized = True, endpoints = False)
# betweenness_centrality = btwnCent[100]
btwnCent_df = pd.DataFrame.from_dict(btwnCent,orient='index')
btwnCent_df.columns = ['btwnCent']

# degCent

In [47]:
page_rank = nx.pagerank(G, alpha=0.85)
# page_rank
page_rank_df = pd.DataFrame.from_dict(page_rank,orient='index')
page_rank_df.columns = ['page_rank']

In [48]:
HITS = nx.hits(G)
hub_df = pd.DataFrame.from_dict(HITS[0],orient='index')
authority_df = pd.DataFrame.from_dict(HITS[1],orient='index')
hub_df.columns = ['hub']
authority_df.columns = ['authority']

In [60]:


# authority_df.head()
# degree_df.head()

,nodes,degree,degCent,closeCent,btwnCent,page_rank,hub,authority
1000,1000,6,0.005976,0.362799,0.000004,0.000294,0.000161,0.000161
1001,1001,10,0.009960,0.346343,0.000004,0.000398,0.000194,0.000194
1002,1002,1,0.000996,0.303731,0.000000,0.000176,0.000017,0.000017
1003,1003,1,0.000996,0.303919,0.000000,0.000177,0.000024,0.000024
1004,1004,1,0.000996,0.301685,0.000000,0.000175,0.000017,0.000017

In [66]:
nodes = G.nodes()
Q2_test = nx.get_node_attributes(G, 'ManagementSalary')
Q2_test
ManagementSalary_df = pd.DataFrame.from_dict(Q2_test,orient='index')
ManagementSalary_df.columns = ['ManagementSalary']

# # attributes
# nodes
# attributes = []
# for i in nodes:
#     attributes.append([i,nx.get_node_attributes(G,i)])
# attributes
# # attributes_df = pd.DataFrame(attributes)
# # attributes_df.head()

In [67]:
Q2_df = pd.concat([nodes_df, degree_df, degCent_df, closeCent_df, btwnCent_df, page_rank_df, hub_df, authority_df, ManagementSalary_df], axis=1)
Q2_df.tail()

,nodes,degree,degCent,closeCent,btwnCent,page_rank,hub,authority,ManagementSalary
1000,1000,6,0.005976,0.362799,0.000004,0.000294,0.000161,0.000161,NaN
1001,1001,10,0.009960,0.346343,0.000004,0.000398,0.000194,0.000194,NaN
1002,1002,1,0.000996,0.303731,0.000000,0.000176,0.000017,0.000017,0.0
1003,1003,1,0.000996,0.303919,0.000000,0.000177,0.000024,0.000024,0.0
1004,1004,1,0.000996,0.301685,0.000000,0.000175,0.000017,0.000017,0.0

In [68]:
Q2_df.to_csv('4th_assignment_Q2', index=False)
Q2_df.to_csv('4th_assignment_Q2_true', index=True)

In [75]:
# Q2_trim_df = Q2_df.drop(['nodes', 'degree'], axis = 1)
# Q2_trim_df.tail()

In [89]:
Q2_test = Q2_df[Q2_df['ManagementSalary'].isnull()]
Q2_test.head()

Q2_X_test = Q2_test.drop(['ManagementSalary'],axis = 1)
Q2_X_test = Q2_X_test.set_index('nodes')

In [94]:
Q2_train = Q2_df[Q2_df['ManagementSalary'].notnull()]
Q2_train.head()
Q2_train = Q2_train.set_index('nodes')

Q2_X_train = Q2_train.drop(['ManagementSalary'],axis = 1)
Q2_y_train = Q2_train['ManagementSalary']
# Q2_y_train
Q2_X_train.tail()
# Q2_X_train = Q2_X_train.set_index('nodes')
# Q2_y_train = Q2_y_train.set_index('nodes')

       degree   degCent  closeCent  btwnCent  page_rank       hub  authority
nodes
998         1  0.000996   0.319805       0.0   0.000176  0.000026   0.000026
999         1  0.000996   0.317742       0.0   0.000172  0.000040   0.000040
1002        1  0.000996   0.303731       0.0   0.000176  0.000017   0.000017
1003        1  0.000996   0.303919       0.0   0.000177  0.000024   0.000024
1004        1  0.000996   0.301685       0.0   0.000175  0.000017   0.000017

In [102]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.fit(Q2_X_train, Q2_y_train)

y_pred=clf.predict_proba(Q2_X_test)
idx = Q2_X_test.index

output_idx = idx.tolist()

output = []
for comp in y_pred:
    output.append(comp[1])
output

type(output_idx)

# data = np.array(['g', 'e', 'e', 'k', 's']) 
  
# # providing an index 
# ser = pd.Series(data, index =[10, 11, 12, 13, 14])

Q2_ans_data = np.array(output)
Q2_ans = pd.Series(Q2_ans_data, index = output_idx)
Q2_ans

1       0.16
2       0.95
5       0.99
8       0.07
14      0.14
18      0.26
27      0.22
30      0.27
31      0.49
34      0.10
37      0.06
40      0.18
45      0.12
54      0.40
55      0.18
60      0.27
62      1.00
65      0.95
77      0.02
79      0.37
97      0.00
101     0.00
103     0.16
108     0.07
113     0.10
122     0.06
141     0.29
142     1.00
144     0.06
145     0.12
        ...
913     0.00
914     0.00
915     0.00
918     0.02
923     0.01
926     0.00
931     0.01
934     0.00
939     0.00
944     0.00
945     0.00
947     0.25
950     0.36
951     0.00
953     0.00
959     0.00
962     0.00
963     0.24
968     0.00
969     0.00
974     0.00
984     0.00
987     0.00
989     0.00
991     0.00
992     0.00
994     0.00
996     0.00
1000    0.03
1001    0.00
Length: 252, dtype: float64

In [103]:
def salary_predictions():
    
    # Your Code Here
    
    return Q2_ans # Your Answer Here

### Part 2B - New Connections Prediction

For the last part of this assignment, you will predict future connections between employees of the network. The future connections information has been loaded into the variable `future_connections`. The index is a tuple indicating a pair of nodes that currently do not have a connection, and the `Future Connection` column indicates if an edge between those two nodes will exist in the future, where a value of 1.0 indicates a future connection.

In [139]:
future_connections = pd.read_csv('Future_Connections.csv', index_col=0, converters={0: eval})
future_connections.head(10)

            Future Connection
(6, 840)                  0.0
(4, 197)                  0.0
(620, 979)                0.0
(519, 872)                0.0
(382, 423)                0.0
(97, 226)                 1.0
(349, 905)                0.0
(429, 860)                0.0
(309, 989)                0.0
(468, 880)                0.0

Using network `G` and `future_connections`, identify the edges in `future_connections` with missing values and predict whether or not these edges will have a future connection.

To accomplish this, you will need to create a matrix of features for the edges found in `future_connections` using networkx, train a sklearn classifier on those edges in `future_connections` that have `Future Connection` data, and predict a probability of the edge being a future connection for those edges in `future_connections` where `Future Connection` is missing.



Your predictions will need to be given as the probability of the corresponding edge being a future connection.

The evaluation metric for this assignment is the Area Under the ROC Curve (AUC).

Your grade will be based on the AUC score computed for your classifier. A model which with an AUC of 0.88 or higher will receive full points, and with an AUC of 0.82 or higher will pass (get 80% of the full points).

Using your trained classifier, return a series of length 122112 with the data being the probability of the edge being a future connection, and the index being the edge as represented by a tuple of nodes.

    Example:
    
        (107, 348)    0.35
        (542, 751)    0.40
        (20, 426)     0.55
        (50, 989)     0.35
                  ...
        (939, 940)    0.15
        (555, 905)    0.35
        (75, 101)     0.65
        Length: 122112, dtype: float64

In [112]:
edges_df = pd.DataFrame(G.edges(), index=G.edges())

edges_df.columns = ['first', 'second']
edges_df.head()

first = edges_df['first'].tolist()
first
second = edges_df['second'].tolist()

common_neigh = [(e[0], e[1], len(list(nx.common_neighbors(G, e[0], e[1])))) for e in nx.non_edges(G)]
common_neigh

[(0, 2, 6),
 (0, 3, 3),
 (0, 4, 3),
 (0, 7, 4),
 (0, 8, 1),
 (0, 9, 2),
 (0, 10, 1),
 (0, 11, 4),
 (0, 12, 4),
 (0, 13, 7),
 (0, 14, 11),
 (0, 15, 0),
 (0, 16, 4),
 (0, 19, 4),
 (0, 20, 7),
 (0, 21, 14),
 (0, 22, 0),
 (0, 23, 3),
 (0, 24, 2),
 (0, 25, 1),
 (0, 26, 0),
 (0, 27, 1),
 (0, 28, 2),
 (0, 29, 3),
 (0, 30, 0),
 (0, 31, 0),
 (0, 32, 0),
 (0, 33, 0),
 (0, 34, 1),
 (0, 35, 1),
 (0, 36, 1),
 (0, 37, 0),
 (0, 38, 0),
 (0, 39, 1),
 (0, 40, 1),
 (0, 41, 5),
 (0, 42, 11),
 (0, 43, 1),
 (0, 44, 4),
 (0, 45, 0),
 (0, 46, 1),
 (0, 47, 1),
 (0, 48, 2),
 (0, 49, 1),
 (0, 50, 0),
 (0, 51, 5),
 (0, 52, 6),
 (0, 53, 8),
 (0, 54, 3),
 (0, 55, 3),
 (0, 56, 1),
 (0, 57, 4),
 (0, 58, 7),
 (0, 59, 2),
 (0, 60, 8),
 (0, 61, 12),
 (0, 62, 10),
 (0, 63, 4),
 (0, 66, 4),
 (0, 67, 2),
 (0, 68, 1),
 (0, 69, 2),
 (0, 70, 0),
 (0, 71, 0),
 (0, 72, 0),
 (0, 75, 1),
 (0, 76, 1),
 (0, 77, 2),
 (0, 78, 1),
 (0, 79, 5),
 (0, 80, 3),
 (0, 81, 5),
 (0, 82, 14),
 (0, 83, 7),
 (0, 84, 7),
 (0, 85, 11),
 (0, 86, 19),
 (0, 87, 9),
 (0, 89, 6),
 (0, 90, 2),
 (0, 91, 1),
 (0, 92, 3),
 (0, 93, 2),
 (0, 94, 6),
 (0, 95, 5),
 (0, 96, 5),
 (0, 97, 2),
 (0, 98, 2),
 (0, 99, 3),
 (0, 100, 2),
 (0, 102, 4),
 (0, 104, 6),
 (0, 105, 9),
 (0, 106, 15),
 (0, 107, 11),
 (0, 108, 1),
 (0, 109, 0),
 (0, 110, 0),
 (0, 111, 0),
 (0, 112, 1),
 (0, 113, 3),
 (0, 114, 4),
 (0, 115, 6),
 (0, 116, 4),
 (0, 117, 2),
 (0, 118, 0),
 (0, 119, 0),
 (0, 121, 14),
 (0, 122, 2),
 (0, 123, 1),
 (0, 124, 3),
 (0, 125, 4),
 (0, 126, 1),
 (0, 127, 3),
 (0, 128, 11),
 (0, 129, 7),
 (0, 130, 2),
 (0, 131, 3),
 (0, 132, 4),
 (0, 133, 11),
 (0, 134, 4),
 (0, 135, 2),
 (0, 136, 0),
 (0, 137, 4),
 (0, 138, 0),
 (0, 139, 3),
 (0, 140, 4),
 (0, 141, 6),
 (0, 142, 12),
 (0, 143, 2),
 (0, 144, 2),
 (0, 145, 3),
 (0, 147, 6),
 (0, 149, 5),
 (0, 150, 7),
 (0, 151, 0),
 (0, 152, 4),
 (0, 153, 3),
 (0, 154, 2),
 (0, 155, 8),
 (0, 156, 3),
 (0, 157, 11),
 (0, 158, 2),
 (0, 159, 3),
 (0, 160, 20),
 (0, 161, 0),
 (0, 162, 3),
 (0, 163, 5),
 (0, 164, 1),
 (0, 165, 4),
 (0, 167, 3),
 (0, 168, 3),
 (0, 169, 6),
 (0, 170, 3),
 (0, 171, 2),
 (0, 172, 5),
 (0, 173, 5),
 (0, 174, 4),
 (0, 175, 0),
 (0, 176, 4),
 (0, 179, 3),
 (0, 180, 4),
 (0, 181, 9),
 (0, 182, 7),
 (0, 183, 9),
 (0, 184, 4),
 (0, 185, 1),
 (0, 186, 2),
 (0, 187, 9),
 (0, 188, 4),
 (0, 189, 8),
 (0, 190, 1),
 (0, 191, 7),
 (0, 192, 1),
 (0, 193, 1),
 (0, 194, 4),
 (0, 195, 2),
 (0, 196, 2),
 (0, 197, 4),
 (0, 198, 2),
 (0, 199, 5),
 (0, 200, 6),
 (0, 201, 8),
 (0, 202, 0),
 (0, 203, 1),
 (0, 204, 6),
 (0, 205, 2),
 (0, 206, 2),
 (0, 207, 2),
 (0, 208, 0),
 (0, 209, 6),
 (0, 210, 4),
 (0, 211, 11),
 (0, 212, 9),
 (0, 213, 2),
 (0, 214, 5),
 (0, 216, 1),
 (0, 217, 0),
 (0, 219, 7),
 (0, 220, 7),
 (0, 224, 9),
 (0, 225, 14),
 (0, 227, 6),
 (0, 228, 7),
 (0, 229, 3),
 (0, 230, 3),
 (0, 231, 6),
 (0, 232, 15),
 (0, 233, 5),
 (0, 234, 6),
 (0, 235, 2),
 (0, 236, 2),
 (0, 237, 3),
 (0, 239, 1),
 (0, 240, 0),
 (0, 241, 2),
 (0, 242, 3),
 (0, 243, 4),
 (0, 244, 2),
 (0, 245, 0),
 (0, 246, 2),
 (0, 247, 1),
 (0, 249, 12),
 (0, 251, 0),
 (0, 252, 7),
 (0, 253, 6),
 (0, 254, 5),
 (0, 255, 7),
 (0, 256, 5),
 (0, 257, 2),
 (0, 258, 1),
 (0, 259, 4),
 (0, 260, 3),
 (0, 261, 1),
 (0, 262, 3),
 (0, 263, 1),
 (0, 264, 3),
 (0, 265, 2),
 (0, 267, 2),
 (0, 269, 4),
 (0, 270, 0),
 (0, 271, 4),
 (0, 272, 3),
 (0, 273, 0),
 (0, 274, 0),
 (0, 275, 6),
 (0, 276, 1),
 (0, 277, 1),
 (0, 278, 1),
 (0, 279, 1),
 (0, 280, 9),
 (0, 281, 3),
 (0, 282, 14),
 (0, 284, 5),
 (0, 285, 5),
 (0, 286, 2),
 (0, 287, 0),
 (0, 288, 2),
 (0, 289, 0),
 (0, 290, 5),
 (0, 291, 2),
 (0, 292, 2),
 (0, 293, 1),
 (0, 294, 2),
 (0, 295, 13),
 (0, 296, 8),
 (0, 298, 0),
 (0, 299, 2),
 (0, 300, 7),
 (0, 301, 9),
 (0, 302, 4),
 (0, 303, 4),
 (0, 304, 1),
 (0, 305, 3),
 (0, 306, 3),
 (0, 307, 7),
 (0, 308, 8),
 (0, 310, 10),
 (0, 311, 12),
 (0, 312, 9),
 (0, 314, 12),
 (0, 315, 3),
 (0, 317, 12),
 (0, 318, 3),
 (0, 319, 0),
 (0, 320, 9),
 (0, 321, 8),
 (0, 322, 0),
 (0, 323, 4),
 (0, 324, 2),
 (0, 325, 3),
 (0, 326, 1),
 (0, 327, 2),
 (0, 328, 2),
 (0, 329, 4),
 (0, 330, 5),
 (0, 331, 8),
 (0, 332, 1),
 (0, 333, 5),
 (0, 334, 1),
 (0, 335, 0),
 (0, 336, 1),
 (0, 337, 2),
 (0, 338, 0),
 (0, 339, 0),
 (0, 340, 8),
 (0, 341, 10),
 (0, 342, 4),
 (0, 343, 0),
 (0, 344, 4),
 (0, 345, 1),
 (0, 346, 2),
 (0, 347, 3),
 (0, 348, 0),
 (0, 349, 4),
 (0, 350, 2),
 (0, 351, 8),
 (0, 352, 4),
 (0, 353, 2),
 (0, 354, 2),
 (0, 355, 2),
 (0, 356, 1),
 (0, 357, 3),
 (0, 358, 6),
 (0, 359, 1),
 (0, 360, 1),
 (0, 361, 1),
 (0, 362, 7),
 (0, 363, 4),
 (0, 364, 0),
 (0, 365, 6),
 (0, 366, 12),
 (0, 367, 2),
 (0, 369, 1),
 (0, 370, 1),
 (0, 371, 4),
 (0, 372, 3),
 (0, 373, 2),
 (0, 374, 2),
 (0, 375, 4),
 (0, 376, 10),
 (0, 378, 4),
 (0, 379, 10),
 (0, 381, 4),
 (0, 382, 1),
 (0, 383, 1),
 (0, 384, 1),
 (0, 385, 3),
 (0, 386, 3),
 (0, 387, 5),
 (0, 388, 2),
 (0, 389, 5),
 (0, 390, 9),
 (0, 391, 3),
 (0, 392, 4),
 (0, 393, 8),
 (0, 394, 5),
 (0, 395, 6),
 (0, 396, 2),
 (0, 397, 6),
 (0, 398, 1),
 (0, 399, 1),
 (0, 400, 6),
 (0, 401, 2),
 (0, 402, 2),
 (0, 403, 2),
 (0, 404, 3),
 (0, 405, 9),
 (0, 406, 1),
 (0, 407, 2),
 (0, 408, 3),
 (0, 409, 4),
 (0, 410, 0),
 (0, 411, 8),
 (0, 412, 3),
 (0, 413, 3),
 (0, 414, 0),
 (0, 415, 0),
 (0, 416, 0),
 (0, 417, 2),
 (0, 418, 1),
 (0, 419, 8),
 (0, 420, 9),
 (0, 421, 3),
 (0, 422, 3),
 (0, 423, 1),
 (0, 424, 7),
 (0, 425, 1),
 (0, 426, 4),
 (0, 427, 2),
 (0, 428, 0),
 (0, 429, 2),
 (0, 430, 6),
 (0, 431, 2),
 (0, 432, 0),
 (0, 433, 0),
 (0, 434, 11),
 (0, 435, 2),
 (0, 436, 0),
 (0, 437, 1),
 (0, 438, 4),
 (0, 439, 0),
 (0, 440, 13),
 (0, 441, 4),
 (0, 442, 0),
 (0, 443, 1),
 (0, 444, 0),
 (0, 445, 3),
 (0, 446, 2),
 (0, 447, 1),
 (0, 448, 0),
 (0, 449, 0),
 (0, 450, 6),
 (0, 451, 0),
 (0, 452, 1),
 (0, 453, 3),
 (0, 454, 0),
 (0, 455, 2),
 (0, 456, 1),
 (0, 457, 2),
 (0, 458, 4),
 (0, 460, 2),
 (0, 461, 0),
 (0, 462, 1),
 (0, 463, 0),
 (0, 464, 3),
 (0, 465, 1),
 (0, 466, 5),
 (0, 467, 4),
 (0, 468, 6),
 (0, 469, 1),
 (0, 470, 0),
 (0, 471, 0),
 (0, 472, 0),
 (0, 473, 6),
 (0, 474, 3),
 (0, 475, 0),
 (0, 476, 0),
 (0, 477, 0),
 (0, 478, 0),
 (0, 479, 1),
 (0, 480, 4),
 (0, 481, 2),
 (0, 482, 3),
 (0, 483, 4),
 (0, 484, 1),
 (0, 485, 4),
 (0, 486, 4),
 (0, 487, 1),
 (0, 488, 1),
 (0, 489, 3),
 (0, 490, 2),
 (0, 491, 1),
 (0, 492, 4),
 (0, 493, 5),
 (0, 494, 7),
 (0, 495, 14),
 (0, 496, 6),
 (0, 497, 1),
 (0, 499, 2),
 (0, 500, 2),
 (0, 501, 1),
 (0, 502, 0),
 (0, 503, 1),
 (0, 504, 0),
 (0, 505, 0),
 (0, 506, 4),
 (0, 507, 0),
 (0, 508, 0),
 (0, 509, 0),
 (0, 510, 0),
 (0, 511, 4),
 (0, 512, 0),
 (0, 513, 7),
 (0, 514, 0),
 (0, 515, 4),
 (0, 516, 2),
 (0, 517, 2),
 (0, 518, 6),
 (0, 519, 3),
 (0, 520, 3),
 (0, 521, 0),
 (0, 522, 0),
 (0, 523, 1),
 (0, 524, 0),
 (0, 525, 4),
 (0, 526, 6),
 (0, 527, 3),
 (0, 528, 3),
 (0, 529, 2),
 (0, 530, 0),
 (0, 531, 1),
 (0, 532, 1),
 (0, 533, 10),
 (0, 534, 0),
 (0, 535, 0),
 (0, 536, 1),
 (0, 537, 11),
 (0, 538, 1),
 (0, 539, 2),
 (0, 540, 0),
 (0, 541, 1),
 (0, 542, 0),
 (0, 543, 2),
 (0, 544, 1),
 (0, 545, 0),
 (0, 546, 6),
 (0, 547, 0),
 (0, 548, 4),
 (0, 549, 13),
 (0, 550, 0),
 (0, 551, 0),
 (0, 552, 1),
 (0, 553, 0),
 (0, 554, 0),
 (0, 555, 1),
 (0, 556, 0),
 (0, 557, 2),
 (0, 558, 0),
 (0, 559, 2),
 (0, 561, 0),
 (0, 562, 6),
 (0, 563, 1),
 (0, 564, 0),
 (0, 565, 2),
 (0, 566, 0),
 (0, 567, 0),
 (0, 568, 2),
 (0, 569, 1),
 (0, 570, 0),
 (0, 571, 1),
 (0, 572, 3),
 (0, 573, 2),
 (0, 574, 1),
 (0, 575, 2),
 (0, 576, 1),
 (0, 577, 3),
 (0, 578, 0),
 (0, 579, 0),
 (0, 580, 0),
 (0, 582, 1),
 (0, 583, 0),
 (0, 584, 0),
 (0, 585, 0),
 (0, 586, 0),
 (0, 587, 2),
 (0, 588, 0),
 (0, 589, 3),
 (0, 590, 0),
 (0, 591, 0),
 (0, 592, 0),
 (0, 593, 2),
 (0, 594, 1),
 (0, 595, 0),
 (0, 596, 1),
 (0, 597, 0),
 (0, 598, 0),
 (0, 599, 0),
 (0, 600, 1),
 (0, 601, 6),
 (0, 602, 2),
 (0, 603, 0),
 (0, 604, 0),
 (0, 605, 0),
 (0, 606, 0),
 (0, 607, 2),
 (0, 608, 2),
 (0, 609, 0),
 (0, 610, 2),
 (0, 611, 4),
 (0, 612, 4),
 (0, 613, 0),
 (0, 614, 0),
 (0, 615, 5),
 (0, 616, 2),
 (0, 617, 0),
 (0, 618, 0),
 (0, 619, 1),
 (0, 620, 0),
 (0, 621, 1),
 (0, 622, 1),
 (0, 623, 1),
 (0, 624, 1),
 (0, 625, 0),
 (0, 626, 0),
 (0, 627, 0),
 (0, 628, 0),
 (0, 629, 3),
 (0, 630, 0),
 (0, 631, 0),
 (0, 632, 0),
 (0, 633, 0),
 (0, 634, 0),
 (0, 635, 0),
 (0, 636, 0),
 (0, 637, 0),
 (0, 638, 0),
 (0, 639, 1),
 (0, 640, 1),
 (0, 641, 2),
 (0, 642, 0),
 (0, 643, 1),
 (0, 644, 4),
 (0, 645, 0),
 (0, 646, 0),
 (0, 647, 1),
 (0, 648, 0),
 (0, 649, 0),
 (0, 650, 1),
 (0, 651, 0),
 (0, 652, 0),
 (0, 653, 0),
 (0, 654, 1),
 (0, 655, 1),
 (0, 656, 4),
 (0, 657, 0),
 (0, 658, 0),
 (0, 659, 1),
 (0, 660, 0),
 (0, 661, 1),
 (0, 662, 1),
 (0, 663, 0),
 (0, 664, 2),
 (0, 665, 2),
 (0, 666, 1),
 (0, 667, 1),
 (0, 668, 0),
 (0, 669, 1),
 (0, 670, 0),
 (0, 671, 1),
 (0, 672, 0),
 (0, 673, 0),
 (0, 674, 0),
 (0, 675, 0),
 (0, 676, 0),
 (0, 677, 0),
 (0, 678, 0),
 (0, 679, 0),
 (0, 680, 1),
 (0, 681, 2),
 (0, 682, 0),
 (0, 683, 0),
 (0, 684, 0),
 (0, 685, 2),
 (0, 686, 0),
 (0, 687, 0),
 (0, 688, 0),
 (0, 689, 0),
 (0, 690, 5),
 (0, 691, 0),
 (0, 692, 0),
 (0, 693, 1),
 (0, 694, 0),
 (0, 695, 4),
 (0, 696, 8),
 (0, 697, 1),
 (0, 698, 0),
 (0, 699, 0),
 (0, 700, 2),
 (0, 701, 0),
 (0, 702, 0),
 (0, 703, 0),
 (0, 704, 0),
 (0, 705, 0),
 (0, 706, 0),
 (0, 707, 2),
 (0, 708, 0),
 (0, 709, 0),
 (0, 710, 1),
 (0, 711, 0),
 (0, 712, 0),
 (0, 713, 0),
 (0, 714, 1),
 (0, 715, 0),
 (0, 716, 1),
 (0, 717, 2),
 (0, 718, 1),
 (0, 719, 1),
 (0, 720, 2),
 (0, 721, 0),
 (0, 722, 0),
 (0, 723, 0),
 (0, 724, 0),
 (0, 725, 0),
 (0, 726, 5),
 (0, 727, 0),
 (0, 728, 1),
 (0, 729, 0),
 (0, 730, 2),
 (0, 731, 0),
 (0, 732, 0),
 (0, 733, 1),
 (0, 735, 0),
 (0, 736, 0),
 (0, 737, 0),
 (0, 738, 3),
 (0, 739, 0),
 (0, 740, 0),
 (0, 741, 3),
 (0, 742, 1),
 (0, 743, 0),
 (0, 744, 0),
 (0, 745, 3),
 (0, 746, 0),
 (0, 747, 2),
 (0, 748, 3),
 (0, 749, 0),
 (0, 750, 1),
 (0, 751, 1),
 (0, 752, 2),
 (0, 753, 0),
 (0, 754, 1),
 (0, 755, 0),
 (0, 756, 7),
 (0, 757, 0),
 (0, 758, 5),
 (0, 759, 1),
 (0, 760, 0),
 (0, 761, 0),
 (0, 762, 0),
 (0, 763, 1),
 (0, 764, 2),
 (0, 765, 1),
 (0, 766, 0),
 (0, 767, 0),
 (0, 768, 1),
 (0, 769, 0),
 (0, 770, 0),
 (0, 771, 1),
 (0, 772, 0),
 (0, 773, 0),
 (0, 774, 0),
 (0, 775, 1),
 (0, 776, 2),
 (0, 777, 1),
 (0, 778, 0),
 (0, 779, 1),
 (0, 780, 0),
 (0, 781, 0),
 (0, 782, 1),
 (0, 783, 0),
 (0, 784, 0),
 (0, 785, 0),
 (0, 786, 2),
 (0, 787, 0),
 (0, 788, 0),
 (0, 789, 1),
 (0, 790, 0),
 (0, 791, 1),
 (0, 792, 0),
 (0, 793, 1),
 (0, 794, 0),
 (0, 795, 0),
 (0, 796, 0),
 (0, 797, 1),
 (0, 798, 0),
 (0, 799, 1),
 (0, 800, 0),
 (0, 801, 0),
 (0, 802, 0),
 (0, 803, 0),
 (0, 804, 2),
 (0, 805, 0),
 (0, 806, 1),
 (0, 807, 1),
 (0, 808, 0),
 (0, 809, 2),
 (0, 810, 3),
 (0, 811, 0),
 (0, 812, 1),
 (0, 813, 0),
 (0, 814, 0),
 (0, 815, 2),
 (0, 816, 0),
 (0, 817, 0),
 (0, 818, 2),
 (0, 819, 0),
 (0, 820, 6),
 (0, 821, 0),
 (0, 822, 0),
 (0, 823, 0),
 (0, 824, 0),
 (0, 825, 0),
 (0, 826, 1),
 (0, 827, 0),
 (0, 828, 2),
 (0, 829, 0),
 (0, 830, 0),
 (0, 831, 0),
 (0, 832, 0),
 (0, 833, 1),
 (0, 834, 0),
 (0, 835, 1),
 (0, 836, 0),
 (0, 837, 0),
 (0, 838, 0),
 (0, 839, 1),
 (0, 840, 3),
 (0, 841, 1),
 (0, 842, 0),
 (0, 843, 0),
 (0, 844, 0),
 (0, 845, 1),
 (0, 846, 0),
 (0, 847, 0),
 (0, 848, 0),
 (0, 849, 0),
 (0, 850, 0),
 (0, 851, 1),
 (0, 852, 1),
 (0, 853, 0),
 (0, 854, 0),
 (0, 855, 0),
 (0, 856, 3),
 (0, 857, 1),
 (0, 858, 0),
 (0, 859, 4),
 (0, 860, 0),
 (0, 861, 0),
 (0, 862, 0),
 (0, 863, 0),
 (0, 864, 0),
 (0, 865, 0),
 (0, 866, 0),
 (0, 867, 0),
 (0, 868, 1),
 (0, 869, 0),
 (0, 870, 1),
 (0, 871, 0),
 (0, 872, 6),
 (0, 873, 0),
 (0, 874, 1),
 (0, 875, 0),
 (0, 876, 0),
 (0, 877, 0),
 (0, 878, 0),
 (0, 879, 0),
 (0, 880, 2),
 (0, 881, 0),
 (0, 882, 1),
 (0, 883, 0),
 (0, 884, 0),
 (0, 885, 0),
 (0, 886, 0),
 (0, 887, 0),
 (0, 888, 0),
 (0, 889, 0),
 (0, 890, 0),
 (0, 891, 0),
 (0, 892, 1),
 (0, 893, 0),
 (0, 894, 0),
 (0, 895, 0),
 (0, 896, 1),
 (0, 897, 0),
 (0, 898, 0),
 (0, 899, 0),
 (0, 900, 1),
 (0, 901, 0),
 (0, 902, 1),
 (0, 903, 0),
 (0, 904, 0),
 (0, 905, 7),
 (0, 906, 0),
 (0, 907, 1),
 (0, 908, 0),
 (0, 909, 0),
 (0, 910, 1),
 (0, 911, 1),
 (0, 912, 0),
 (0, 913, 1),
 (0, 914, 1),
 (0, 915, 0),
 (0, 916, 0),
 (0, 917, 0),
 (0, 918, 2),
 (0, 919, 0),
 (0, 920, 0),
 (0, 921, 1),
 (0, 922, 2),
 (0, 923, 0),
 (0, 924, 1),
 (0, 925, 0),
 (0, 926, 1),
 (0, 927, 0),
 (0, 928, 0),
 (0, 929, 0),
 (0, 930, 1),
 (0, 931, 2),
 (0, 932, 2),
 (0, 933, 0),
 (0, 934, 1),
 (0, 935, 0),
 (0, 936, 0),
 (0, 937, 1),
 (0, 938, 0),
 (0, 939, 0),
 (0, 940, 0),
 (0, 941, 0),
 (0, 942, 0),
 (0, 943, 0),
 (0, 944, 0),
 (0, 945, 0),
 (0, 946, 0),
 (0, 947, 1),
 (0, 948, 0),
 (0, 949, 1),
 (0, 950, 6),
 (0, 951, 0),
 (0, 952, 0),
 (0, 953, 0),
 (0, 954, 0),
 (0, 955, 0),
 (0, 956, 1),
 (0, 957, 0),
 (0, 958, 0),
 (0, 959, 1),
 (0, 960, 1),
 (0, 961, 1),
 (0, 962, 0),
 (0, 963, 1),
 (0, 964, 0),
 (0, 965, 0),
 (0, 966, 0),
 (0, 967, 1),
 (0, 968, 0),
 (0, 969, 0),
 (0, 970, 0),
 (0, 971, 0),
 (0, 972, 0),
 (0, 973, 0),
 (0, 974, 0),
 (0, 975, 0),
 (0, 976, 0),
 (0, 977, 0),
 (0, 978, 0),
 (0, 979, 2),
 (0, 980, 2),
 (0, 981, 0),
 (0, 982, 0),
 (0, 983, 0),
 (0, 984, 0),
 (0, 985, 0),
 (0, 986, 0),
 (0, 987, 0),
 (0, 988, 0),
 (0, 989, 0),
 (0, 990, 2),
 (0, 991, 0),
 (0, 992, 0),
 (0, 993, 0),
 (0, 994, 1),
 (0, 995, 0),
 (0, 996, 0),
 (0, 997, 0),
 (0, 998, 1),
 (0, 999, 0),
 (0, 1000, 1),
 (0, 1001, 1),
 (0, 1002, 1),
 (0, 1003, 0),
 (0, 1004, 0),
 (1, 2, 0),
 (1, 3, 1),
 (1, 4, 3),
 (1, 5, 16),
 (1, 6, 8),
 (1, 7, 2),
 (1, 8, 0),
 (1, 9, 0),
 (1, 10, 4),
 (1, 11, 3),
 (1, 12, 3),
 (1, 13, 11),
 (1, 14, 9),
 (1, 15, 3),
 (1, 16, 9),
 (1, 18, 18),
 (1, 19, 7),
 (1, 20, 15),
 (1, 22, 3),
 (1, 23, 7),
 (1, 24, 0),
 (1, 25, 1),
 (1, 26, 0),
 (1, 27, 4),
 (1, 28, 8),
 (1, 29, 4),
 (1, 30, 4),
 (1, 31, 6),
 (1, 32, 0),
 (1, 33, 0),
 (1, 34, 0),
 (1, 35, 2),
 (1, 36, 6),
 (1, 37, 2),
 (1, 38, 0),
 (1, 39, 2),
 (1, 40, 1),
 (1, 41, 12),
 ...]

In [130]:
common_neigh_df = pd.DataFrame(common_neigh)
common_neigh_df.head()
common_neigh_df.columns = ['first', 'second', 'common_neigh']

# Q3_common_neigh_idx = tuple(common_neigh_df['first'].tolist(), common_neigh_df['second'].tolist())

def listOfTuples(l1, l2): 
    return list(map(lambda x, y:(x,y), l1, l2)) 
  
# Driver Code 
# list1 = [1, 2, 3] 
# list2 = ['a', 'b', 'c'] 
  
# print(listOfTuples(list1, list2))



common_neigh_df['idx'] = listOfTuples(common_neigh_df['first'].tolist(), common_neigh_df['second'].tolist())

common_neigh_df = common_neigh_df.set_index('idx')
common_neigh_df.index.name = None

common_neigh_df = common_neigh_df.drop(['first', 'second'],axis = 1)

common_neigh_df.head()

        common_neigh
(0, 2)             6
(0, 3)             3
(0, 4)             3
(0, 7)             4
(0, 8)             1

In [131]:
Jaccard_Coefficient = list(nx.jaccard_coefficient(G))

Jaccard_Coefficient_df = pd.DataFrame(Jaccard_Coefficient)
Jaccard_Coefficient_df.head()
Jaccard_Coefficient_df.columns = ['first', 'second', 'Jaccard_Coefficient']

# Q3_common_neigh_idx = tuple(common_neigh_df['first'].tolist(), common_neigh_df['second'].tolist())

def listOfTuples(l1, l2): 
    return list(map(lambda x, y:(x,y), l1, l2)) 
  
# Driver Code 
# list1 = [1, 2, 3] 
# list2 = ['a', 'b', 'c'] 
  
# print(listOfTuples(list1, list2))



Jaccard_Coefficient_df['idx'] = listOfTuples(Jaccard_Coefficient_df['first'].tolist(), Jaccard_Coefficient_df['second'].tolist())

Jaccard_Coefficient_df = Jaccard_Coefficient_df.set_index('idx')
Jaccard_Coefficient_df.index.name = None

Jaccard_Coefficient_df = Jaccard_Coefficient_df.drop(['first', 'second'],axis = 1)

Jaccard_Coefficient_df.head()

        Jaccard_Coefficient
(0, 2)             0.045802
(0, 3)             0.027273
(0, 4)             0.022222
(0, 7)             0.036364
(0, 8)             0.012821

In [132]:
resource_allocation = list(nx.resource_allocation_index(G))

resource_allocation_df = pd.DataFrame(resource_allocation)
resource_allocation_df.head()
resource_allocation_df.columns = ['first', 'second', 'resource_allocation']

# Q3_common_neigh_idx = tuple(common_neigh_df['first'].tolist(), common_neigh_df['second'].tolist())

def listOfTuples(l1, l2): 
    return list(map(lambda x, y:(x,y), l1, l2)) 
  
# Driver Code 
# list1 = [1, 2, 3] 
# list2 = ['a', 'b', 'c'] 
  
# print(listOfTuples(list1, list2))



resource_allocation_df['idx'] = listOfTuples(resource_allocation_df['first'].tolist(), resource_allocation_df['second'].tolist())

resource_allocation_df = resource_allocation_df.set_index('idx')
resource_allocation_df.index.name = None

resource_allocation_df = resource_allocation_df.drop(['first', 'second'],axis = 1)


resource_allocation_df.head()

        resource_allocation
(0, 2)             0.055340
(0, 3)             0.021388
(0, 4)             0.021388
(0, 7)             0.061668
(0, 8)             0.011628

In [133]:
adamic_adar = list(nx.adamic_adar_index(G))

adamic_adar_df = pd.DataFrame(adamic_adar)
adamic_adar_df.head()
adamic_adar_df.columns = ['first', 'second', 'adamic_adar']

# Q3_common_neigh_idx = tuple(common_neigh_df['first'].tolist(), common_neigh_df['second'].tolist())

def listOfTuples(l1, l2): 
    return list(map(lambda x, y:(x,y), l1, l2)) 
  
# Driver Code 
# list1 = [1, 2, 3] 
# list2 = ['a', 'b', 'c'] 
  
# print(listOfTuples(list1, list2))



adamic_adar_df['idx'] = listOfTuples(adamic_adar_df['first'].tolist(), adamic_adar_df['second'].tolist())

adamic_adar_df = adamic_adar_df.set_index('idx')
adamic_adar_df.index.name = None

adamic_adar_df = adamic_adar_df.drop(['first', 'second'],axis = 1)

adamic_adar_df.head()

        adamic_adar
(0, 2)     1.257626
(0, 3)     0.605728
(0, 4)     0.605728
(0, 7)     0.938816
(0, 8)     0.224500

In [134]:
preferential_attachment = list(nx.preferential_attachment(G))

preferential_attachment_df = pd.DataFrame(preferential_attachment)
preferential_attachment_df.head()
preferential_attachment_df.columns = ['first', 'second', 'preferential_attachment']

# Q3_common_neigh_idx = tuple(common_neigh_df['first'].tolist(), common_neigh_df['second'].tolist())

def listOfTuples(l1, l2): 
    return list(map(lambda x, y:(x,y), l1, l2)) 
  
# Driver Code 
# list1 = [1, 2, 3] 
# list2 = ['a', 'b', 'c'] 
  
# print(listOfTuples(list1, list2))



preferential_attachment_df['idx'] = listOfTuples(preferential_attachment_df['first'].tolist(), preferential_attachment_df['second'].tolist())

preferential_attachment_df = preferential_attachment_df.set_index('idx')
preferential_attachment_df.index.name = None


preferential_attachment_df = preferential_attachment_df.drop(['first', 'second'],axis = 1)

preferential_attachment_df.head()

        preferential_attachment
(0, 2)                     4180
(0, 3)                     3124
(0, 4)                     4224
(0, 7)                     3168
(0, 8)                     1628

In [126]:
# cn = list(nx.cn_soundarajan_hopcroft(G)) 
# # cn: community common neighbors

# cn_df = pd.DataFrame(cn)
# cn_df.head()
# cn_df.columns = ['first', 'second', 'cn']

# # Q3_common_neigh_idx = tuple(common_neigh_df['first'].tolist(), common_neigh_df['second'].tolist())

# def listOfTuples(l1, l2): 
#     return list(map(lambda x, y:(x,y), l1, l2)) 
  
# # Driver Code 
# # list1 = [1, 2, 3] 
# # list2 = ['a', 'b', 'c'] 
  
# # print(listOfTuples(list1, list2))



# cn_df['idx'] = listOfTuples(cn_df['first'].tolist(), cn_df['second'].tolist())

# cn_df = cn_df.set_index('idx')
# cn_df.index.name = None
# cn_df.head()

In [ ]:
# common_neigh = [(e[0], e[1], len(list(nx.common_neighbors(G, e[0],
# e[1])))) for e in nx.non_edges(G)]

In [128]:
# cr = list(nx.ra_index_soundarajan_hopcroft(G)) # cr: Community Resource Allocation

# cr_df = pd.DataFrame(cr)
# cr_df.head()
# cr_df.columns = ['first', 'second', 'cr']

# # Q3_common_neigh_idx = tuple(common_neigh_df['first'].tolist(), common_neigh_df['second'].tolist())

# def listOfTuples(l1, l2): 
#     return list(map(lambda x, y:(x,y), l1, l2)) 
  
# # Driver Code 
# # list1 = [1, 2, 3] 
# # list2 = ['a', 'b', 'c'] 
  
# # print(listOfTuples(list1, list2))



# cr_df['idx'] = listOfTuples(cr_df['first'].tolist(), cr_df['second'].tolist())

# cr_df = cr_df.set_index('idx')
# cr_df.index.name = None
# cr_df.head()

In [137]:
Q3_df = pd.concat([common_neigh_df, Jaccard_Coefficient_df, resource_allocation_df, adamic_adar_df, preferential_attachment_df], axis=1)
Q3_df.head()

,common_neigh,Jaccard_Coefficient,resource_allocation,adamic_adar,preferential_attachment
"(0, 2)",6,0.045802,0.055340,1.257626,4180
"(0, 3)",3,0.027273,0.021388,0.605728,3124
"(0, 4)",3,0.022222,0.021388,0.605728,4224
"(0, 7)",4,0.036364,0.061668,0.938816,3168
"(0, 8)",1,0.012821,0.011628,0.224500,1628

In [141]:
Q3_df.to_csv('4th_assignment_Q3', index=False)
Q3_df.to_csv('4th_assignment_Q3_true', index=True)

In [140]:
Q3_data_df = pd.merge(future_connections, Q3_df, how = 'inner', left_index=True, right_index=True)
Q3_data_df.head()

,Future Connection,common_neigh,Jaccard_Coefficient,resource_allocation,adamic_adar,preferential_attachment
"(6, 840)",0.0,9,0.073770,0.136721,2.110314,2070
"(4, 197)",0.0,2,0.015504,0.008437,0.363528,3552
"(620, 979)",0.0,0,0.000000,0.000000,0.000000,28
"(519, 872)",0.0,2,0.060606,0.039726,0.507553,299
"(382, 423)",0.0,0,0.000000,0.000000,0.000000,205

In [146]:
Q3_test = Q3_data_df[Q3_data_df['Future Connection'].isnull()]
Q3_test.head()
Q3_train = Q3_data_df[Q3_data_df['Future Connection'].notnull()]
Q3_train.head()

# Q2_X_test = Q2_test.drop(['ManagementSalary'],axis = 1)
# Q2_X_test = Q2_X_test.set_index('nodes')

,Future Connection,common_neigh,Jaccard_Coefficient,resource_allocation,adamic_adar,preferential_attachment
"(6, 840)",0.0,9,0.073770,0.136721,2.110314,2070
"(4, 197)",0.0,2,0.015504,0.008437,0.363528,3552
"(620, 979)",0.0,0,0.000000,0.000000,0.000000,28
"(519, 872)",0.0,2,0.060606,0.039726,0.507553,299
"(382, 423)",0.0,0,0.000000,0.000000,0.000000,205

In [149]:
Q3_X_test = Q3_test.drop(['Future Connection'],axis = 1)
# Q2_X_test = Q2_X_test.set_index('nodes')


# Q2_train = Q2_df[Q2_df['ManagementSalary'].notnull()]
# Q2_train.head()
# Q2_train = Q2_train.set_index('nodes')

Q3_X_train = Q3_train.drop(['Future Connection'],axis = 1)
Q3_y_train = Q3_train['Future Connection']
# Q3_y_train
Q3_X_train.head()
# Q2_X_train = Q2_X_train.set_index('nodes')
# Q2_y_train = Q2_y_train.set_index('nodes')

,common_neigh,Jaccard_Coefficient,resource_allocation,adamic_adar,preferential_attachment
"(6, 840)",9,0.073770,0.136721,2.110314,2070
"(4, 197)",2,0.015504,0.008437,0.363528,3552
"(620, 979)",0,0.000000,0.000000,0.000000,28
"(519, 872)",2,0.060606,0.039726,0.507553,299
"(382, 423)",0,0.000000,0.000000,0.000000,205

In [151]:
# # MinMaxScaler
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler(feature_range=(0, 1))
# Q3_X_train_rescaled = scaler.fit_transform(Q3_X_train)
# Q3_X_test_rescaled = scaler.fit_transform(Q3_X_test)

In [153]:
from sklearn.preprocessing import Normalizer
# scaler = Normalizer().fit(X)
# normalizedX = scaler.transform(X)
scaler = Normalizer().fit(Q3_X_train)
Q3_X_train_rescaled = scaler.transform(Q3_X_train)
Q3_X_test_rescaled = scaler.transform(Q3_X_test)

In [154]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB



Q3_clf = RandomForestClassifier(n_estimators=100)

# Q3_clf = GaussianNB()

# Q3_clf.fit(Q3_X_train, Q3_y_train)
# Q3_y_pred = Q3_clf.predict_proba(Q3_X_test)


Q3_clf.fit(Q3_X_train_rescaled, Q3_y_train)
Q3_y_pred = Q3_clf.predict_proba(Q3_X_test_rescaled)



Q3_idx = Q3_X_test.index

Q3_output_idx = Q3_idx.tolist()

Q3_output = []
for comp in Q3_y_pred:
    Q3_output.append(comp[1])
# output

# type(output_idx)

# data = np.array(['g', 'e', 'e', 'k', 's']) 
  
# # providing an index 
# ser = pd.Series(data, index =[10, 11, 12, 13, 14])

Q3_ans_data = np.array(Q3_output)
Q3_ans = pd.Series(Q3_ans_data, index = Q3_output_idx)
Q3_ans

(107, 348)    0.292036
(542, 751)    0.012729
(20, 426)     0.297801
(50, 989)     0.012729
(942, 986)    0.012729
(324, 857)    0.012729
(13, 710)     0.279197
(19, 271)     0.112661
(319, 878)    0.012729
(659, 707)    0.012729
(49, 843)     0.012729
(208, 893)    0.012729
(377, 469)    0.012729
(405, 999)    0.000000
(129, 740)    0.114666
(292, 618)    0.060000
(239, 689)    0.012729
(359, 373)    0.012729
(53, 523)     0.010805
(276, 984)    0.012729
(202, 997)    0.012729
(604, 619)    0.075000
(270, 911)    0.012729
(261, 481)    0.056769
(200, 450)    0.485313
(213, 634)    0.012729
(644, 735)    0.240000
(346, 553)    0.012729
(521, 738)    0.012729
(422, 953)    0.036797
                ...
(672, 848)    0.012729
(28, 127)     0.877677
(202, 661)    0.012729
(54, 195)     0.970000
(295, 864)    0.012729
(814, 936)    0.012729
(839, 874)    0.012729
(139, 843)    0.012729
(461, 544)    0.012729
(68, 487)     0.012729
(622, 932)    0.012729
(504, 936)    0.012117
(479, 528)    0.012729
(186, 670)    0.012729
(90, 395)     0.027677
(329, 521)    0.048332
(127, 218)    0.137034
(463, 993)    0.012729
(123, 142)    0.374782
(764, 885)    0.012729
(144, 824)    0.012729
(742, 985)    0.012729
(506, 684)    0.012729
(505, 916)    0.012729
(149, 214)    0.790000
(165, 923)    0.012729
(673, 755)    0.012729
(939, 940)    0.012729
(555, 905)    0.012729
(75, 101)     0.013783
Length: 122112, dtype: float64

In [ ]:
def new_connections_predictions():
    
    # Your Code Here
    
    return Q3_ans# Your Answer Here